simulation.mode = true

spring.application.name=coin

upbit.api.key=ABCDEFG
upbit.secret.key=ABCDEFG

spring.datasource.url=jdbc:mysql://localhost:3306/upbit
spring.datasource.username=user
spring.datasource.password=password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

spring.jackson.property-naming-strategy=SNAKE_CASE