simulation.mode = true

spring.application.name=coin

upbit.api.key=ABCDEFG
upbit.secret.key=ABCDEFG
upbit.ticker.symbol=KRW-XRP
upbit.ratio.exchange=0.0005
upbit.ratio.profit=0.015
upbit.ratio.loss=0.015

spring.datasource.url=jdbc:mysql://localhost:3306/upbit
spring.datasource.username=user
spring.datasource.password=password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect